<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>eninfguv@znp.pbz</string>
	<key>contactName</key>
	<string>Richa Avasthi</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Base 16 Themes</string>
	<key>uuid</key>
	<string>37B0A2C4-5F03-46FE-BF4F-C3176BAFB18A</string>
</dict>
</plist>
